@use "sass:map";

@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}


.left-indent {
    padding: 3rem 1.5rem 0;
    width: 100%;
    height: 90vh;
    border-radius: 16px;
    @include hide-scrollbar();
} 

.scroll {
  width: 100%;
  height: 80vh;
  @include hide-scrollbar();
}

.img{
  width: 25px;
  &-logo {
    height: 25px;
  }
  &-people {
    height: 25px;
  }
  &-chat{
    width: 25px;
    height: 23.33px;
  }
  &-person{
    width: 18.75px;
    height: 18.75px;
  }
  &-card{
    width: 50px;
    height: 50px;
  }
  &-profile{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  &-dialog{
    width: 21px;
    height: 21px;
  }
}


.list {
  margin-top: 3rem;
}

.form{
  border-bottom: 1px #EFEFEF solid;
  margin-bottom: 1rem;
  
}

.form:hover{
  background-color: #4545A5;
  color: #fbfbfb;
}



.time {
  color: #ADB5BD;
}

.msg {
  max-width: 340px;
  min-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.not-msg {
  width: 340px;
}

.info{
  padding-top: 1rem;
  margin-bottom: 1rem;
  &-full{
    margin-bottom: 0;
  }
}

.btn-dialog {
  width: 50px;
  height: 50px;
}

.gaps {
  gap: 4rem !important;
}

.gaps-nav {
  gap: 2rem !important;
}

@media screen and (width <= 725px) {
  .not-msg {
    width: 70vw;
  }
}

@media screen and (725px <= width <= 1000px) {
  .not-msg {
    width: 80vw;
  }
}

@media screen and (1000px <= width <= 1200px){
  .gaps {
      gap: none;
  }

  .gaps-nav {
    gap: 1rem !important;
  }
  
  .msg {
    width: 80vw;
  }

  .not-msg {
    width: 85vw;
  }
}

@media screen and (1200px <= width <= 1290px){
  .gaps {
      gap: 0.23rem !important;
  }

  .gaps-nav {
    gap: 1rem !important;
  }
  
  .msg {
    width: 250px;
  }

  .not-msg {
    width: 250px;
  }
}

@media screen and (1290px <= width <= 1440px){
    .gaps {
        gap: 1.5rem !important;
    }

    .gaps-nav {
      gap: 1.5rem !important;
    }
    
    .msg {
      width: 300px;
    }

    .not-msg {
      width: 300px;
    }
  }

@media screen and (1440px <= width <= 1550px) {
    .gaps {
        gap: 2rem !important;
    }
}

@media screen and (1551px <= width) {

  .msg {
      max-width: 300px;
  }
}

@media screen and (width <= 500px) {
    .not-msg {
        width: 65vw;
    }
    
    .msg {
      width: 60vw;
    }
}

@media screen and (width <= 400px) {
    .msg {
        width: 50vw;
    }
}


/* ??? УЗНАТЬ ЧЁ С ХЕДЕРОВ (gaps) ??? */