doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/main.css")
        title Document
    body.overflow-y-hidden
       .container-xxl.set
            .row 
                .col-xl-4.p-0.border-right.vh-100.mob-main
                    header.header.text-bg-primary.align-middle
                        .d-flex.gap-xl-5.p-3.gap-mob.mob-content
                            a(href="./index.html")
                                img(src="../app/images/icons/logo.svg", alt="").img-logo 
                            .d-flex.gaps.justify-content-evenly.align-items-center.nav(id='nav-tab')
                                a(href="#contacts").d-flex.gap-2.align-items-center.nav-link.p-0  
                                    img(src="../app/images/icons/people.svg", alt="").img-people
                                    p.text-white.m-0.font-size-14 Контакты
                                a(href="./chat.html").d-flex.gap-2.align-items-center.nav-link.p-0 
                                    img(src="../app/images/icons/chat.svg", alt="").img-chat
                                    p.text-white.m-0.font-size-14 Сообщения
                                a(href="#profile").d-flex.gap-2.align-items-center.nav-link.p-0 
                                    img(src="../app/images/icons/person.svg", alt="").img-person
                                    p.text-white.m-0.font-size-14 Профиль
                    .left-indent
                      include pugs/chats.pug
                                                                                            
                            
                .col-xl-8.vh-100
                    .d-flex.flex-column.justify-content-center.align-items-center.h-100
                        img(src="../app/images/avatar_1.jpg", alt="").rounded-circle.m-b-2
                        h1.h6.mb-0 Привет, Кодовёнок
                        p Выбери чат, чтобы начать общаться