section.tab-pane.fade(id='nav-current-chat' role='tabpanel' aria-labelledby='nav-dialog-tab')
    .d-flex.p-3.gap-4.border-dialog.pt-0.mx-n4.mt-n3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card.mt-n1
        .d-flex.flex-column
            h1.h6.fw-bold.mb-1 Вениамин Редакторович
            p.text-secondary.font-size-14.mb-2 Онлайн
    .d-flex.scroll.flex-column.p-3.pt-5
        .d-flex.gap-2.justify-content-center.mb-3
            .d-flex.flex-column.bg-light.mw-95.msg-dialog.shadow-sm.p-4.pe-3
                h1.h6.fw-bold Вениамин Редакторович
                p.text-secondary.h-100.mb-2 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
                .border-dialog.mb-1.me-n2
                p.text-secondary.opacity-60.mb-0.font-size-14 8 минут назад

        .d-flex.gap-2.justify-content-center.mb-3
            .d-flex.flex-column.bg-primary.mw-95.msg-dialog.p-4
                p.text-light.h-100.mb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
                .border-dialog.mb-1.me-n2
                p.text-gray.opacity-60.mb-0.font-size-14 5 минут назад
        
        .d-flex.gap-2.justify-content-start.mb-3
            .d-flex.flex-column.bg-light.mw-95.msg-dialog.shadow-sm.p-4
                h1.h6.fw-bold Вениамин Редакторович
                p.text-secondary.h-100.mb-2 Лады
                .border-dialog.mb-1.me-n2
                p.text-secondary.opacity-60.mb-0.font-size-14 5 минут назад

        .d-flex.gap-2.justify-content-center.mb-3
            .d-flex.flex-column.bg-primary.mw-95.msg-dialog.p-4
                p.text-light.h-100.mb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
                .border-dialog.mb-1.me-n2
                p.text-gray.opacity-60.mb-0.font-size-14 3 минут назад

        .d-flex.gap-2.justify-content-start.mb-3
            .d-flex.flex-column.bg-light.mw-95.msg-dialog.shadow-sm.p-4
                h1.h6.fw-bold Вениамин Редакторович
                p.text-secondary.h-100.mb-2 o_O
                .border-dialog.mb-1.me-n2
                p.text-secondary.opacity-60.mb-0.font-size-14 Только что


    form.d-flex.ms-n4.border-dialog-top.gap-3.ps-4.pt-2.pb-3.pe-3.justify-content-between(action="")
        input(type="text" placeholder = 'Напишите сообщение...').border-0.mw-100
        button.rounded-circle.bg-primary.border-0.btn-dialog
            img(src="images/icons/cursor.svg", alt="Отправить").img-dialog