header.d-flex.p-3.gap-3.border-dialog
    img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card
    .d-flex.flex-column
        h1.h6.mb-0.fw-bold Вениамин Редакторович
        p.text-secondary Онлайн
.d-flex.scroll.flex-column.p-5
    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm
            h1.h6 Вениамин Редакторович
            p.text-secondary.h-100 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0 8 минут назад

    .d-flex.gap-2.align-items-end.justify-content-end.mb-3
        img(src="images/avatar_1.jpg", alt="Вы").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-primary.mw-70.msg-dialog
            p.text-light.h-100 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            .border-bottom.mb-1
            p.text-gray.opacity-60.mb-0 8 минут назад
    
    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm
            h1.h6 Вениамин Редакторович
            p.text-secondary.h-100 Лады
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0 5 минут назад

    .d-flex.gap-2.align-items-end.justify-content-end.mb-3
        img(src="images/avatar_1.jpg", alt="Вы").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-primary.mw-70.msg-dialog
            p.text-light.h-100 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            .border-bottom.mb-1
            p.text-gray.opacity-60.mb-0 3 минуты назад

    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm
            h1.h6 Вениамин Редакторович
            p.text-secondary.h-100 o_O
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0 Только что


form.d-flex.ms-xl-5.border-dialog-top.gap-3.ps-5.pt-4.pb-3.pe-5.pe-xl-3.justify-content-between(action="")
    input(type="text" placeholder = 'Напишите сообщение...').border-0.mw-100
    button.rounded-circle.bg-primary.border-0.btn-dialog
        img(src="images/icons/cursor.svg", alt="Отправить").img-dialog
    

    
