header.d-flex.p-3.gap-4.border-dialog
    img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card
    .d-flex.flex-column
        h1.h6.mb-0.fw-bold.mb-1 Вениамин Редакторович
        p.text-secondary.font-size-14.mb-2 Онлайн
.d-flex.scroll.flex-column.p-5
    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm.pe-5
            h1.h6.fw-bold Вениамин Редакторович
            p.text-secondary.h-100.mb-2 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0.font-size-14 8 минут назад

    .d-flex.gap-2.align-items-end.justify-content-end.mb-3
        img(src="images/avatar_1.jpg", alt="Вы").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-primary.mw-70.msg-dialog.pe-5
            p.text-light.h-100.mb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            .border-bottom.mb-1
            p.text-gray.opacity-60.mb-0.font-size-14 5 минут назад
    
    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm.pe-5
            h1.h6.fw-bold Вениамин Редакторович
            p.text-secondary.h-100.mb-2 Лады
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0.font-size-14 5 минут назад

    .d-flex.gap-2.align-items-end.justify-content-end.mb-3
        img(src="images/avatar_1.jpg", alt="Вы").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-primary.mw-70.msg-dialog.pe-5
            p.text-light.h-100.mb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            .border-bottom.mb-1
            p.text-gray.opacity-60.mb-0.font-size-14 3 минуты назад

    .d-flex.gap-2.align-items-end.mb-3
        img(src="images/avatar_4.jpg", alt="Вениамин").rounded-circle.img-card    
        .d-flex.flex-column.p-3.bg-light.mw-70.msg-dialog.shadow-sm.pe-5 
            h1.h6.fw-bold Вениамин Редакторович
            p.text-secondary.h-100.mb-2 o_O
            .border-bottom.mb-1
            p.text-secondary.opacity-60.mb-0.font-size-14 Только что


form.d-flex.ms-xl-5.border-dialog-top.gap-3.ps-3.pt-2.pb-2.pe-5.pe-xl-3.justify-content-between(action="")
    input(type="text" placeholder = 'Напишите сообщение...').border-0.mw-100
    button.rounded-circle.bg-primary.border-0.btn-dialog
        img(src="images/icons/cursor.svg", alt="Отправить").img-dialog
    

    
