.d-flex.gaps.p-3.gap-mob.mob-content.m-0.pt-4
    a(href="index.html" id='home-link') 
        img(src="images/icons/logo.svg", alt="").img-logo.ps-2.ps-xl-1 
    nav(id='nav-tab' role='tablist').d-flex.gaps-nav.justify-content-evenly.align-items-center.nav.nav-pills.nav-fill.px-4.px-xl-0
        if page === 'chat'
            a(href="#current-chat" id="nav-dialog-tab" data-bs-toggle="tab" data-bs-target="#nav-current-chat" type="button" role="tab" aria-controls="nav-dialog" aria-selected="false").d-flex.gap-2.align-items-center.nav-link.p-0.d-xl-none 
                img(src="images/icons/chat-left-text.svg", alt="chat").img-chat
            a(href="#contacts" id="nav-contacts-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="false").d-flex.gap-2.align-items-center.nav-link.p-0 
                img(src="images/icons/people.svg", alt="").img-people
                p.text-white.m-0.font-size-14 Контакты
            a(href="#chats" id="nav-chats-tab" data-bs-toggle="tab" data-bs-target="#nav-chats" type="button" role="tab" aria-controls="nav-chats" aria-selected="true").d-flex.gap-2.align-items-center.nav-link.active.p-0
                img(src="images/icons/chat.svg", alt="").img-chat
                p.text-white.m-0.font-size-14 Сообщения
            a(href="#profile" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false").d-flex.gap-2.align-items-center.nav-link.p-0
                img(src="images/icons/person.svg", alt="").img-person
                p.text-white.m-0.font-size-14 Профиль
        else
            a(href="#current-chat" id="nav-dialog-tab" data-bs-toggle="tab" data-bs-target="#current-chat" type="button" role="tab" aria-controls="nav-dialog" aria-selected="false").d-none.d-flex.gap-2.align-items-center.nav-link.p-0.d-xl-none 
                img(src="images/icons/chat-left-text.svg", alt="chat").img-chat
            a(href="#contacts" id="nav-contacts-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="true").d-flex.gap-2.align-items-center.nav-link.active.p-0
                img(src="images/icons/people.svg", alt="").img-people
                p.text-white.m-0.font-size-14 Контакты
            a(href="chat.html" id="nav-chats-tab" data-bs-toggle="tab" data-bs-target="#nav-chats" type="button" role="tab" aria-controls="nav-chats" aria-selected="false").d-flex.gap-2.align-items-center.nav-link.p-0
                img(src="images/icons/chat.svg", alt="").img-chat
                p.text-white.m-0.font-size-14 Сообщения
            a(href="#profile" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false").d-flex.gap-2.align-items-center.nav-link.p-0
                img(src="images/icons/person.svg", alt="").img-person
                p.text-white.m-0.font-size-14 Профиль

    script.
        document.addEventListener('DOMContentLoaded', function () { 
            const links = document.querySelectorAll('.nav-link'); 
            links.forEach(link => { 
                link.addEventListener('click', function (event) { 
                    event.preventDefault();
                    // Убираем active у всех ссылок 
                    links.forEach(l => l.classList.remove('active')); 

                    // Добавляем active к текущей ссылке 
                    this.classList.add('active'); 

                    // Меняем href у ссылки по id 'home-link' 
                    window.location.hash = this.getAttribute('href');

                }); 
            }); 
        });

    

