section.tab-pane.fade(id='nav-profile' role='tabpanel' aria-labelledby='nav-profile-tab')
    h2 Профиль
    p.text-secondary.search Поиск по сообщениям
    .list.d-flex.flex-column
        .d-flex.flex-column
            img(src="../app/images/avatar_1.jpg", alt="Кодовёнок").rounded-circle.m-b-2
            h1.h6 Кодовёнок Хекслетович
            p.text-secondary Милый и скромный помощник начинающих разработчиков. Люблю JavaScript



                